{
  "extends": "eslint-config-airbnb-base",
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "es6": true,
    "jest/globals": true
  },
  "ecmaFeatures": {
    "modules": true,
    "destructuring": true,
    "spread": true,
    "arrowFunctions": true,
    "blockBindings": true,
    "experimentalObjectRestSpread": true,
    "experimentalDecorators": true
  },
  "rules": {
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/valid-expect": "error",

    "max-len": [1, 160],
    "import/default": 0,
    "import/no-duplicates": 0,
    "import/named": 0,
    "import/namespace": 0,
    "import/no-unresolved": 0,
    "import/no-named-as-default": 0,
    "import/no-extraneous-dependencies": 0,
    "comma-dangle": [2, "always-multiline"],
    "indent": [2, 2, {"SwitchCase": 1}],
    "no-alert": 2,
    "no-param-reassign": [2, {"props": false}],
    "no-use-before-define": 0,
    "no-return-await": 0,
    "no-underscore-dangle": [2, { "allowAfterThis": true }],
    "arrow-parens": [2, "always"],
    "space-before-function-paren": 0
  },
  "plugins": [
    "import", "babel", "jest"
  ],
  "settings": {
    "import/parser": "babel-eslint",
    "import/resolve": {
      "moduleDirectory": ["node_modules", "src"]
    }
  }
}
